*#
#*
.#*
*~
*.bak

*.o
*.so
*.out
*.el
*.i
*.pyc
*out.json
*out_debug.json
test.json
.clang_complete
vgcore*
config.mk
test_output.xml
test_lightnet
lightnet
core
GPATH
GRTAGS
GTAGS
obj*/
build*/
!buildtools/
dist/
example/object-detect
__pycache__/
*.egg-info/
.install-log

debug*/
*.org
compile_commands.json
.clangd
.cache